/*---------- Estrutura Base ----------*/
body {
    background-color: var(--primary-brown);
    font-family: 'Poppins', sans-serif;
}

/* 
    font principal (não é necesario declarar novamente) ja esta setado no arquivo root do html: >font-family: 'Poppins', sans-serif;<
    
    font da pagina contatos (email, telefone, endereço) >font-family: 'TT Hoves Pro Trial', sans-serif;<
*/


/*---------- Trabalhe a partir daqui ----------*/

/* ja esta separado a area aonde cada um tera que trabalhar, basta dar scroll */

/* ----------------------------------- */

/* Alexandre */

.header {
    text-align: center;
    align-items: center;
    margin-top: 243px;
    font-size: 34px;
    margin-block-end: 50px;
    height: 96px;
    top: 967px;
    left: 796px;   
}

.container{
    text-align: center;
    height: 554px;
    top: 275px;

}


.help > button {
    background-color: #F3CE5E;
    width: 210px;
    height: 66px;
    border-radius: 57px;
    text-decoration: none;
    align-items: center;
    color: #7C4032;
    box-shadow: 0 2px 4px #F3CE5E;(0, 0, 0, 0.2);
    border: none;
}

.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px; 

}































































































/* ----------------------------------- */

    /* Gustavo */
.servico {

}




























































   



































/* ----------------------------------- */

/* Lucas */
.testemunho {

}






































































   

























/* ----------------------------------- */

/* Gabriel */
.contato {

}











































































