/*---------- Estrutura Base ----------*/
body {
    background-color: var(--primary-brown);
    font-family: 'Poppins', sans-serif;
}

/* 
    font principal (não é necesario declarar novamente) ja esta setado no arquivo root do html: >font-family: 'Poppins', sans-serif;<
    
    font da pagina contatos (email, telefone, endereço) >font-family: 'TT Hoves Pro Trial', sans-serif;<
*/


/*---------- Trabalhe a partir daqui ----------*/

/* ja esta separado a area aonde cada um tera que trabalhar, basta dar scroll */

/* ----------------------------------- */

/* Alexandre */
.home--h {
    background-color: #FEF4DE;
    background-image: url(/components/images/background.svg);
    width: 1903px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main--h {
    display: flex;
    width: 1903px;
    height: 537px;
    align-items: center;
    justify-content: center;
}

.urso--h {
    background-image: url(/components/images/BEAR.svg);
    width: 545px;
    height: 537px;
    margin-left: 45px;
}

.texto--h {
    display: flex;
    flex-direction: column;
    width: 556px;
    height: 373px;
    color: #663128;
    margin-right: 44px;
}

.titulo--h {
    width: 556px;
    height: 175px;
    display: flex;
    flex-direction: column;
}

.h1--h {
    margin: 0px;
    font-size: 115px;
    line-height: 1;
}
.h2--h {
    margin: 0px;
    font-size: 58px;
    letter-spacing: 23.5px;
    line-height: 1;
}

.legenda--h {
    margin-top: 30px;
    width: 552px;
    height: 72px;
}

.leg--h {
    width: 552px;
    height: 72px;
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.box--h {
    margin-top: 30px;
    display: flex;
    width: 342px;
    height: 96px;
    align-items: center;
}

.botton--h {
    display: flex;
    background-color: #F3CE5E;
    width: 210px;
    height: 66px;
    border-radius: 57px;
    justify-content: center;
    align-items: center;
}

.textbot--h {
    margin: 0px;
    display: flex;
    font-size: 18px;
}

.about--h {
    margin-left: 50px;
    display: flex;
    width: 83px;
    height: 24px;
    line-height: 24px;
    font-weight: 500;
}
























































































/* ----------------------------------- */

    /* Gustavo */
.servico {

}




























































   



































/* ----------------------------------- */

/* Lucas */
.testemunho {

}






































































   

























/* ----------------------------------- */

/* Gabriel */
.contato {

}











































































