:root {
    --primary-brown: #7C4032;
    --secondary-brown: #663128;
    
    --primary-gray: #333333;
    
    --primary-white: #ffffff;
    
    --btn-color: #F3CE5E;

    --input-color:#E5AF99;

    --footer-color: #55352D;
}

